In [9]:
import pandas as pd
import numpy as np
#Load the DataSet1
df = pd.read_csv("True.csv")
print(df.head())

                                               title  \
0  As U.S. budget fight looms, Republicans flip t...
1  U.S. military to accept transgender recruits o...
2  Senior U.S. Republican senator: 'Let Mr. Muell...
3  FBI Russia probe helped by Australian diplomat...
4  Trump wants Postal Service to charge 'much mor...

                                                text       subject  \
0  WASHINGTON (Reuters) - The head of a conservat...  politicsNews
1  WASHINGTON (Reuters) - Transgender people will...  politicsNews
2  WASHINGTON (Reuters) - The special counsel inv...  politicsNews
3  WASHINGTON (Reuters) - Trump campaign adviser ...  politicsNews
4  SEATTLE/WASHINGTON (Reuters) - President Donal...  politicsNews

                 date
0  December 31, 2017
1  December 29, 2017
2  December 31, 2017
3  December 30, 2017
4  December 29, 2017

In [10]:
#Load the Dataset2
ds = pd.read_csv("Fake.csv")
print(ds.head())

                                               title  \
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...

                                                text subject  \
0  Donald Trump just couldn t wish all Americans ...    News
1  House Intelligence Committee Chairman Devin Nu...    News
2  On Friday, it was revealed that former Milwauk...    News
3  On Christmas day, Donald Trump announced that ...    News
4  Pope Francis used his annual Christmas Day mes...    News

                date
0  December 31, 2017
1  December 31, 2017
2  December 30, 2017
3  December 29, 2017
4  December 25, 2017

In [11]:
#Explore the Dataset1
print(df.shape)           # Check number of rows and columns
print(df.columns)         # See column names
print(df.info())          # Data types and non-null counts
print(df.describe())      # Basic statistics

(21417, 4)
Index(['title', 'text', 'subject', 'date'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB
None
                                                    title  \
count                                               21417
unique                                              20826
top     Factbox: Trump fills top jobs for his administ...
freq                                                   14

                                                     text       subject  \
count                                               21417         21417
unique                                              21192             2
top     (Reuters) - Highlights for U.S. President Dona...  politicsNews
freq                                                    8         11272

                      date
count                21417
unique                 716
top     December 20, 2017
freq                   182

In [13]:
#Explore the Dataset2
print(ds.shape)
print(ds.columns)
print(ds.info())
print(ds.describe())

(23481, 4)
Index(['title', 'text', 'subject', 'date'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB
None
                                                    title   text subject  \
count                                               23481  23481   23481
unique                                              17903  17455       6
top     MEDIA IGNORES Time That Bill Clinton FIRED His...           News
freq                                                    6    626    9050

                date
count          23481
unique          1681
top     May 10, 2017
freq              46

In [14]:
#Check for Missing Values in Dataset1
print(df.isnull().sum())

title      0
text       0
subject    0
date       0
dtype: int64

In [15]:
#Check for Missing Values in Dataset1
print(ds.isnull().sum())

title      0
text       0
subject    0
date       0
dtype: int64

In [17]:
#Remove Duplicate Rows for Dataset1
df = df.drop_duplicates()
#Remove Duplicate Rows for Dataset1
ds = ds.drop_duplicates()

In [19]:
#Convert date Column to Datetime Format for Dataset1
df['date'] = pd.to_datetime(df['date'])
#Convert date Column to Datetime Format for Dataset2
ds['date'] = pd.to_datetime(ds['date'], format='mixed', errors='coerce')
#Remove rows with invalid dates
ds = ds.dropna(subset=['date'])

In [21]:
#Text Cleaning (title and text columns) for Dataset1
import re

def clean_text(text):
    text = re.sub(r'\s+', ' ', text)  # Remove extra whitespace
    text = re.sub(r"[^a-zA-Z0-9,.!?;:()'\"-]", ' ', text)  # Remove unwanted chars
    return text.strip()

df['title'] = df['title'].apply(clean_text)
df['text'] = df['text'].apply(clean_text)

#Text Cleaning (title and text columns) for Dataset2
ds['title'] = ds['title'].apply(clean_text)
ds['text'] = ds['text'].apply(clean_text)

In [22]:
#Lowercase the Text for Dataset1
df['title'] = df['title'].str.lower()
df['text'] = df['text'].str.lower()
#Lowercase the Text for Dataset2
ds['title'] = ds['title'].str.lower()
ds['text'] = ds['text'].str.lower()

In [25]:
#Remove Stopwords, Lemmatize/Stemming for Dataset1
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('wordnet')

stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def preprocess_text(text):
    words = text.split()
    words = [lemmatizer.lemmatize(word) for word in words if word not in stop_words]
    return ' '.join(words)

df['text'] = df['text'].apply(preprocess_text)
df['title'] = df['title'].apply(preprocess_text)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\manikandanarayanan\AppData\Roaming\nltk_data.
[nltk_data]     ..
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\manikandanarayanan\AppData\Roaming\nltk_data.
[nltk_data]     ..
[nltk_data]   Package wordnet is already up-to-date!

In [26]:
#Remove Stopwords, Lemmatize/Stemming for Dataset2
nltk.download('stopwords')
nltk.download('wordnet')

stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def preprocess_text(text):
    words = text.split()
    words = [lemmatizer.lemmatize(word) for word in words if word not in stop_words]
    return ' '.join(words)

ds['title'] = ds['title'].apply(preprocess_text)
ds['text'] = ds['text'].apply(preprocess_text)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\manikandanarayanan\AppData\Roaming\nltk_data.
[nltk_data]     ..
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\manikandanarayanan\AppData\Roaming\nltk_data.
[nltk_data]     ..
[nltk_data]   Package wordnet is already up-to-date!

In [28]:
#Encode Categorical Data (e.g., subject)
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['subject_encoded'] = encoder.fit_transform(df['subject'])
print(df.head())

                                               title  \
0  u.s. budget fight looms, republican flip fisca...
1  u.s. military accept transgender recruit monda...
2  senior u.s. republican senator: 'let mr. muell...
3  fbi russia probe helped australian diplomat ti...
4  trump want postal service charge 'much more' a...

                                                text       subject       date  \
0  washington (reuters) - head conservative repub...  politicsNews 2017-12-31
1  washington (reuters) - transgender people allo...  politicsNews 2017-12-29
2  washington (reuters) - special counsel investi...  politicsNews 2017-12-31
3  washington (reuters) - trump campaign adviser ...  politicsNews 2017-12-30
4  seattle washington (reuters) - president donal...  politicsNews 2017-12-29

   subject_encoded
0                0
1                0
2                0
3                0
4                0

In [33]:
#Encode Categorical Dataset2
ds['subject_encoded'] = encoder.fit_transform(ds['subject'])
print(ds.head())

                                               title  \
0  donald trump sends embarrassing new year eve m...
1  drunk bragging trump staffer started russian c...
2  sheriff david clarke becomes internet joke thr...
3  trump obsessed even obama name coded website (...
4  pope francis called donald trump christmas speech

                                                text subject       date  \
0  donald trump wish american happy new year leav...    News 2017-12-31
1  house intelligence committee chairman devin nu...    News 2017-12-31
2  friday, revealed former milwaukee sheriff davi...    News 2017-12-30
3  christmas day, donald trump announced would ba...    News 2017-12-29
4  pope francis used annual christmas day message...    News 2017-12-25

   subject_encoded
0                2
1                2
2                2
3                2
4                2

In [32]:
# Print category mapping
for index, label in enumerate(encoder.classes_):
    print(f"{index}: {label}")

0: Government News
1: Middle-east
2: News
3: US_News
4: left-news
5: politics

In [36]:
#Save Cleaned Data of Dataset1 in Cleaned_True
df.to_csv("cleaned_True.csv", index=False)
#Save Cleaned Data of Dataset2 in Cleaned_Fake
ds.to_csv("cleaned_False.csv", index=False)

In [37]:
print(df.head())
print(ds.head())

                                               title  \
0  u.s. budget fight looms, republican flip fisca...
1  u.s. military accept transgender recruit monda...
2  senior u.s. republican senator: 'let mr. muell...
3  fbi russia probe helped australian diplomat ti...
4  trump want postal service charge 'much more' a...

                                                text       subject       date  \
0  washington (reuters) - head conservative repub...  politicsNews 2017-12-31
1  washington (reuters) - transgender people allo...  politicsNews 2017-12-29
2  washington (reuters) - special counsel investi...  politicsNews 2017-12-31
3  washington (reuters) - trump campaign adviser ...  politicsNews 2017-12-30
4  seattle washington (reuters) - president donal...  politicsNews 2017-12-29

   subject_encoded
0                0
1                0
2                0
3                0
4                0
                                               title  \
0  donald trump sends embarrassing new year eve m...
1  drunk bragging trump staffer started russian c...
2  sheriff david clarke becomes internet joke thr...
3  trump obsessed even obama name coded website (...
4  pope francis called donald trump christmas speech

                                                text subject       date  \
0  donald trump wish american happy new year leav...    News 2017-12-31
1  house intelligence committee chairman devin nu...    News 2017-12-31
2  friday, revealed former milwaukee sheriff davi...    News 2017-12-30
3  christmas day, donald trump announced would ba...    News 2017-12-29
4  pope francis used annual christmas day message...    News 2017-12-25

   subject_encoded
0                2
1                2
2                2
3                2
4                2